strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}



 a.review:link { color: red; text-decoration: none;}
 a.review:visited { color: black; text-decoration: none;}
 a.review:hover { color: blue; text-decoration: none;}
 
 .fp_service { 
	width: 400px; 
	background: #262424; 
	border: 1px solid #333232; 
	padding: 9px 9px 4px; 
	color: #ccc; 
}

.fp_service_box { 
	padding: 10px 10px 0; 
}
.fp_c1 { 
	background: #868686;
}
.tooplate_paging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.tooplate_paging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.tooplate_paging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.tooplate_paging ul li a { 
	float: left; 
	display: block; 
	color: #999; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
}

.tooplate_paging ul li a:hover { 
	color: #000;  
}
#rate {
   margin-top:1000px; /* If you want no margin */
   padding:1000px; /*if your want to padding */
}
#box1{ background-image:url(../image/face_.jpg);
width:70px;
height:70px;
margin:auto;

}
	label {
  display: inline-block;
  width: 140px;
  text-align: left;
 }